.nadpis2 {
    text-align: center;
    font-size: 50px;
}

hr {
    border: 3px solid black;
}

.nav2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: white;
    z-index: 1;
    position: relative;
    border-radius: 0 0 200px 200px;
}

.obrazek6 {
    display: none;
}

.vyber {
    background-color: #d7c792;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    min-width: 80px;
    font-size: 20px;
}

body {
    margin: 0 auto;
}

.main2 {
    background-color: #d9d9d9;
    position: relative;
    margin-top: -80px;
    padding-top: 150px;
}

.prvniRadek {
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

.druhyRadek {
    display: grid;
    grid-template-columns: 60% 40%;
}

.obrazek1 {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obrazek2 {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obrazek3 {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obrazek4 {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.obrazek5 {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.page1 * {
    box-sizing: border-box;
}

.page1 header {
    background-color: #d7c792;
}

.page1-headerbox {
    overflow: auto;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    padding: 20px;
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 0 0 50px 50px;
}

#page1-search {
    grid-column: 1;
    text-align: left;
    font-size: 45px;
    margin: auto;
}

#page1-title {
    grid-column: 2;
    font-size: 40px;
    display: inline;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-top: 18px;
}

#page1-arrows {
    grid-column: 3;
    text-align: right;
    font-size: 45px;
    margin: auto;
    padding-top: 5px;
}

.page1-main {
    background-color: #d7c792;
    padding: 0 35px 0 35px;
    min-height: 700px;
}

.page1-img-row1 {
    display: grid;
    grid-template-columns: 25% 17% 25% 33%;
}

.page1-img-row2 {
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

.page1-main img {
    padding: 10px;
}

.page1-img1 {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img2 {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img3 {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img4 {
    grid-column-start: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img5 {
    grid-column-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img6 {
    grid-column-start: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page1-img7 {
    grid-column-start: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 360px) and (max-width: 1200px) {
    .nadpis2 {
        text-align: center;
        font-size: 40px;
    }

    .obrazek1 {
        display: none;
    }

    .obrazek3 {
        display: none;
    }

    .obrazek6 {
        display: unset;
        grid-column-start: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .obrazek2 {
        grid-column-start: 1;
    }

    .prvniRadek {
        grid-template-columns: 200px auto;
        display: grid;

    }

    .druhyRadek {
        margin-top: -5px;
        grid-template-columns: 200px auto;
    }

    .nav2 {
        padding-bottom: 100px;
        padding-top: 50px;
        display: grid;
        grid-template-rows: auto auto auto;

    }

    .main2 {
        margin-top: -200px;
        padding-top: 280px;
    }

    .a,
    .b {
        grid-row: 1;
    }

    .c {
        grid-row: 2;

    }

    .d,
    .e {
        grid-row: 3;
    }

    .page1-img-row1,
    .page1-img-row2 {
        display: block;
    }
}

@media screen and (max-width: 360px) {

    .page1-img-row1,
    .page1-img-row2 {
        display: block;
    }
}


body {
    font-size: 14px;
    box-sizing: border-box;
    background: rgba(215, 199, 146, 1);
}

.window {
    width: 100%;
    height: 900px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.c2 {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.top-bar {
    width: 100%;
    height: 150px;
    background: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.painting {
    width: 823px;
    height: 580px;
    background: url("../img/img1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 28.5%;
    overflow: hidden;
}

.button {
    width: 291px;
    height: 113px;
    background: white;
    opacity: 1;
    position: absolute;
    top: 770px;
    left: 42.5%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
    font-family: Inter;
    font-weight: Regular;
    font-size: 80px;
    opacity: 1;
    text-align: center;
}

.text {
    width: 100%;
    color: black;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 0%;
    font-family: Inter;
    font-weight: Regular;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}